.toast-container {
  top: 20px;
  right: 20px;
  z-index: 1050;
}

.toast {
  min-width: 150px;
  max-width: 500px;
  padding: 1rem;
  overflow: hidden;
}

.toast-body {
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-height: 200px;
  overflow-y: auto;
}
